{% extends "inv/base.html" %}
{% load static %}

{% block nav-home %}active{% endblock %}

{% block title %}
    Wolbach Devices Inventory
{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>{{item.name}}</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Barcode: {{item.barcode}}</h3>
        </div>
        <div class="col-3">
            <form action="{% url 'modify' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="itemid" value="{{item.id}}">
                <button type="submit" class="btn btn-warning">Modify Item</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <BR/><br/>

            <img width="100%" src="{% get_media_prefix %}{{item.name.name}}.jpg" alt="" />
            <!--<img width="100%" src="{% get_static_prefix %}dev/img/{{item.name.name}}.jpg" alt="" />-->
        </div>
        <div class="col-6">
            
            <br/>

            <b>Components:</b><BR/>
                <ul>
                    {% for tag in item.components.all %}
                        <li>{{tag}}</li>
                    {% endfor %}
                </ul>

            <br/><br/>

            <b>Things to Check:</b>
            <ul>
                {% for tag in item.checking.all %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-9">

            <BR/><BR/>
            
            <table class="table">
                <tr>
                    <th>Things to Clean:
                    </th>
                    <th>Where to Store it:
                    </th>
                </tr>
                <tr>
                    <td width=40%>
                        <ul>
                            {% for tag in item.cleaning.all %}
                                <li>{{tag}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>   
                        {{item.location}}
                    </td>
                </tr>
                <tr>
                    <th colspan=2>Notes:
                    </th>
                </tr>
                <tr>
                    <td colspan=2>
                        {{item.notes}}
                    </td>
                </tr>
            </table>

            <br/>
            <b>Additional Photos</b>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;<br/>
            &nbsp;<br/>
            &nbsp;<br/>
        </div>
    </div>

</div>

{% endblock %}